.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

html {
  font-size: 62.5%;
}

body {
  background-color: hsl(225, 100%, 94%);
  font-family: "Red Hot Display", sans-serif;
  color: hsl(223, 47%, 23%);
}
.container {
  margin: 2rem auto;
  width: 42rem;
  background-color: #fff;
  border-radius: 2rem;
  overflow: hidden;
}
.card-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  padding: 2rem 4rem 2rem 4rem;
}
.illustration {
  /* transform: scale(0.9); */
  width: 100%;
  height: 22rem;
}
.card-title {
  margin-bottom: 0;
  font-weight: 800;
  font-size: 2.4rem;
}
.card-text {
  margin: 0 3.8rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.6;
  color: rgba(114, 128, 167, 0.767);
}
.plan-container {
  display: flex;
  align-items: center;
  padding: 1.8rem;
  background-color: hsl(225, 100%, 98%);
  border-radius: 2.5rem;
  gap: 7rem;
}
.first-half {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.price-container {
}
.plan-title {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
}
.plan-price {
  font-size: 1.6rem;
  margin-top: 0;
  color: rgba(114, 128, 167, 0.648);
  font-weight: 600;
}
.change-link {
  font-size: 1.3rem;

  align-self: center;
  font-weight: 600;
}
.change-link:hover {
  text-decoration: none;
  color: rgb(107, 94, 190);
  cursor: pointer;
}
.cta {
  color: #fff;
  padding: 1.4rem;
  border: none;
  background-color: rgb(56, 41, 224);
  border-radius: 1rem;
  font-weight: 600;
  box-shadow: 0 1rem 2.5rem rgba(56, 41, 224, 0.4);
}
.cta:hover {
  background-color: rgb(107, 94, 190);
  cursor: pointer;
}
.cancel {
  font-size: 1.5rem;
  font-weight: 600;
}
.cancel:hover {
  cursor: pointer;
}
.attribution {
}
